@import "./../fonts/montserrat/font.css";
@import "./../../ui/assets/style/mixins/breakpoints";

html, body {
	height: 100%;
}

:root {
	--ui-font-family: Montserrat;
	--ui-font-weight: 700;
	--ui-base-line: 32px;
	--ui-base-line-small: 28px;

	--ui-heading-font-size-1: 32px;
	--ui-heading-font-size-2: 48px;
	--ui-heading-font-size-3: 32px;
	--ui-font-size: 24px;
	--ui-font-size-small: 20px;

	//--ui-color-primary: #2747C4;
	--ui-color-primary: #001275;

	--ui-grid-gutter: 32px;

	--ui-button-border-radius: 0;
	--ui-button-height: 72px;
	--ui-button-font-size: 20px;

	@include breakpoint(md) {
		--ui-font-size: 20px;
		--ui-heading-font-size-2: 32px;
		--ui-grid-gutter: 16px;
	}

	@include breakpoint(sm) {
		--ui-font-size: 16px;
		--ui-heading-font-size-2: 20px;
		--ui-heading-font-size-1: 16px;
	}
}

#app {
	display: flex !important;
	flex-direction: column;
	min-height: 100%;
	background: url("./../svg/background.svg") repeat top center;
	background-size: 100% auto;
	overflow: hidden;

	@include breakpoint(sm) {
		background-size: 300%;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 100%;
	width: calc(1440px + var(--ui-grid-gutter) * 2);
	padding: 0 var(--ui-grid-gutter);
}

.block {
	position: relative;
	background: var(--background, var(--ui-color-gray-7));
	color: #FFF;
	//overflow: visible;
	//overflow-x: hidden;

	&:not(:last-child) {
		margin-bottom: 100px;
	}

	--ui-color-headings: #FFF;
	--ui-color-link: #FFF;
	--ui-color-link-hover: #FFF;

	&.no-pause {
		z-index: 2;

		+ .block {
			padding-top: 178px;
			margin-top: -178px;
		}
	}

	h2.title {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px var(--ui-grid-gutter);
		min-height: 150px;
		margin-bottom: 0;

		.app-svg-icon {
			--icon-size: 60px;
			margin-right: 32px;
		}

		&.background {
			background: url("../svg/background-title.svg") no-repeat top center;
			background-size: cover;
		}

		@include breakpoint(md) {
			min-height: 120px;
		}

		@include breakpoint(sm) {
			min-height: 90px;

			.app-svg-icon {
				--icon-size: 40px;
				margin-right: 8px;
			}
		}
	}

	.wrapper {
		padding: 32px var(--ui-grid-gutter) 80px;
	}
}

.ui-button  {
	position: relative;

	.app-svg-icon {
		flex-shrink: 0;
		--icon-size: 40px;
		margin-right: 24px;
	}

	.app-triangle {
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		margin-bottom: 0;
		--background: #6883C1;

		.app-triangle-container {
			height: 20px;
		}
	}

}