!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.idea
.vscode/*
dist
lerna-debug.log*
logs
node_modules
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
