// Grid Row
.row {
	@include grid-row;

	// Gutters
	&.gutters, &.gutters > .row {
		margin-left: calc(var(--ui-grid-gutter) * -1);
		//margin-top: calc(var(--ui-grid-gutter) * -1);

		& > .col {
			margin-left: var(--ui-grid-gutter);
			//margin-top: var(--ui-grid-gutter);
		}
	}

	&.around {
		@include flex-items-space-around;
	}

	&.between {
		@include flex-items-space-between;
	}

	&.auto {
		& .col {
			@include flex-item-grow(1);
		}
	}
}

// Grid Columns
@include generate-grid-columns;

// Offset
[class^='offset-'],
[class*=' offset-'] {
	@include breakpoint(sm) {
		margin-left: 0;
	}
}

// Ordering
.first {
	order: -1;
}

.last {
	order: 1;
}

.align-self-center {
	align-self: center;
}

@include breakpoint(sm) {

	.first-sm {
		order: -1;
	}
	.last-sm {
		order: 1;
	}
}


.grid-auto-columns {
	display: grid;
	grid-gap: var(--grid-gap, 12px);
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
}